@model OrgCategory
<!-- Modal -->
<div class="modal fade" id="add-org-category" tabindex="-1" role="dialog" aria-labelledby="addOrgCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                @if (string.IsNullOrEmpty(Model.CategoryName))
                {
                    <h5 class="modal-title" id="addOrgCategoryLabel">Add Category</h5>
                }
                else
                {
                    <h5 class="modal-title" id="addOrgCategoryLabel">Edit Category</h5>
                }

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    var action = string.Empty;
                }
                @if (string.IsNullOrEmpty(Model.CategoryName))
                {
                    action = "Create";
                }
                else
                {
                    action = "Edit";
                }

                <form asp-action=@action>
                    <!-- TODO : _AddMemberModalPartial Implement better way of Error Handling -->
                    @if (@ViewData.ModelState.IsValid.ToString() == "False")
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>WARNING!</strong> @ViewBag.ErrorMessage
                        </div>
                    }
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="CategoryName">Category Name</label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    @Html.Hidden("OrganizationCategoryId")
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>
